#field_app_job_history_values .field-from-date {
	float: left;
	width: 25%;
	clear: both;
}

#field_app_job_history_values .field-to-date {
	float: left;
	width: 25%;
}

.field-job-type {
	width: 164px;
	float: left;
}

.field-current-job {
	padding-top: 16px;
}

